Package: com.p2kdev.smartpower
Name: SmartPower
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Make Low Power mode Smart!
Maintainer: P2KDev <p2kdev@gmail.com>
Author: P2KDev <p2kdev@gmail.com>
Section: Tweaks
