Package: com.p2kdev.smartpower
Name: SmartPower
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Make Low Power mode Smart!
Maintainer: P2KDev <p2kdev@gmail.com>
Author: P2KDev <p2kdev@gmail.com>
Section: Tweaks
Version: 1.0
Installed-Size: 336
